:root {
    --color-1: #999999;
    --color-2: #ffffff;
    --color-3: #111111;
    --color-4: #00ff00;
  
  }

  @font-face {
    font-family: 'PP Neue Montreal Book';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PP Neue Montreal Medium';
    src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PP Neue Montreal Bold';
    src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  main {
    padding: 10px 50px 10px 50px;
  }
  
  body {
    background-color: var(--color-3);
  }
  
  code{
    font-size: 13px;
    font-family: "source code pro", monospace;
    color: var(--color-1);
  }
  
  p, .role, .name, button, h3 {
    letter-spacing: 0.03em;
    font-family: 'PP Neue Montreal Book', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--color-2);
  }

  button {
    background-color: var(--color-3);
    border: none;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
  }
  
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-right: 12vw;
  }
  
  .parallax-word {
    display: inline-block;
    will-change: transform;
  }
  
  .credits {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px; 
    text-align: right; /* Align .role text to right */
  }
  
  .role {
    font-weight: 600;
    text-align: right;
  }
  
  .name {
    text-align: left;
  }
  
  h3, .project_tag {
    font-size: 14px;
    color: var(--color-1);
  }
  
  .project_tag_container{
    display: flex;
    margin-top: 5px;
  }
  
  .project_tag {
    text-transform: uppercase;
    font-family: 'PP Neue Montreal Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .project_tag:hover {
    background-color: var(--color-4);
    color: var(--color-3);
  }
  
  .video-container {
    width: 100%; /* or any fixed value like 600px */
    aspect-ratio: 16 / 9; /* optional for keeping proportions */
    overflow: hidden;
  }
  
  .video-container video, .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' depending on the desired effect */
    display: block; /* removes bottom white space */
  }
  
  .empty_box {
    width: 100%;
    height: 2vh;
  }
  
  .gallery_content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 5px;
    padding: 5px 0px;
  }
  
  .gallery {
    position: relative;
    transition: filter 1s ease; /* Smooth transition effect */
    padding: 5px 0px;
  }
  
  .side_by_side {
    padding: 5px 0px;
  }
  
  .side_by_side_content {
    column-count: 2;
    column-gap: 5px;
  }
  
  div.side_by_side img {
    width: 100%;
    height: auto;
  }
  
  .content, section{
    max-width: 1500px;
    margin: 0 auto;
  }
  
  section {
    min-height: 100vh;
  }
  
  .content_images {
    width: 100%;
    height: auto;
  }
  
  #content_img {
    width: 100%;
    height: auto;
  }
  
  a:link, a:visited, a:hover, a:active, a:focus {
    color: var(--color-4);
    text-decoration: none;
    cursor: pointer;
  }
  
  h1 {
    font-family: 'PP Neue Montreal Medium', sans-serif;
    font-style: normal;
    font-size: 48px;
    color: var(--color-2);
  }

  h2 {

    font-family: 'PP Neue Montreal Medium', sans-serif;
    font-style: normal;
    font-size: 24px;
    color: var(--color-2);

  }
  
  .down-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
    color: var(--color-1);
    z-index: 10;
  }
  
  iframe {
    width: 100%;
    height: 50vw;  
  }
  
  .lock-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 24px;
    pointer-events: none; 
    z-index: 1000;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  ::selection {
    background: var(--color-4); 
    color: var(--color-3);         
  }
  
  
  @media only screen and (max-width: 850px) {

    main {
      padding: 5px;
    }

    p, button {
      font-size: 10px;
    }
  
    h3, .project_tag {
    font-size: 12px;
    }
  
    div.gallery {
      padding: 5px 0px;
    }
  
    [class*="gallery_content"] {
      grid-template-columns: 1fr; 
      width: 100%;
    }
  
    [class*="content_images"] {
      padding: 5px 0px;
    }
  
    iframe {
      width: 100%;
      height: 56vw;
    }
  
    .side_by_side {
    padding: 2.5px 0px;
    }
  
  }
  